<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="accordion" id="accordionParent">
        <div class="accordion-item faq-header">
          <h2 class="accordion-header p-2" id="headingZero">
            <b>Frequently Asked Questions</b>
          </h2>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <b>Q. What is insurance?</b>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionParent">
            <div class="accordion-body">
              We face a lot of risks in our daily lives. Some of these lead to financial losses. Insurance is a way
              of protecting against these financial losses. For a payment (premium), an insurance company will take
              the responsibility of compensating your financial losses.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <b>Q. What is general insurance?</b>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionParent">
            <div class="accordion-body">
              Insuring anything other than human life is called general insurance. Examples are insuring property
              like house and belongings against fire and theft or vehicles against accidental damage or theft. Injury
              due to accident or hospitalisation for illness and surgery can also be insured. Your liabilities to
              others arising out of the law can also be insured and is compulsory in some cases like motor third party
              insurance.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <b>Q. Who should buy general insurance?</b>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionParent">
            <div class="accordion-body">
              Anyone who owns an asset can buy insurance to protect it against losses due to fire or theft and so
              on. Each one of us can insure our and our dependents’ health and well being through hospitalisation and
              personal accident policies. To buy a policy the person should be the one who will bear financial losses
              if they occur. This is called insurable interest.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <b>Q. What does Travel Insurance cover?</b>
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionParent">
            <div class="accordion-body">
              Travel Insurance covers a host of insurable incidents. The exact roster of instances varies from one
              plan to the next. But broadly speaking, here’s what you can expect a Travel Insurance plan to cover:
              <b>Medical expenses,</b>
              <b>Trip delays, cancellations,</b>
              <b>Stolen baggage</b>

            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <b>Q. Can I buy General Insurance online? And is it safe to do so?</b>
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#accordionParent">
            <div class="accordion-body">
              Buying General Insurance online is certainly possible. In fact, a number of insurance service
              providers, offer the option to avail of General Insurance coverage online. And while we’re on this
              subject, it’s not only safe to buy General Insurance online, it’s also beneficial in a number of other
              ways. The advantages of buying insurance online include quicker and easier application, lower premiums
              and the ability to read the documentation first-hand.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
