.modal-login {
	
	color: #636363;
	width: 800px;
    top:30px;
}
.modal-login .modal-content {
	top:90px;
	padding: 0px;
	border-radius: 4px;
	border: none;
    

}
.modal-content
{
	background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9.5px );
-webkit-backdrop-filter: blur( 0.0px );
border-radius: 10px;

}
.modal-login .modal-header {
	border-bottom: none;
	position: relative;
	justify-content: center;
  
    color:white;
    font-style: italic;
}

.modal-login h4 {
	text-align: center;
	font-size: 26px;
}
.modal-login  .form-group {
	position: relative;
    left: 50px;
}
.modal-login i {
	position: absolute;
	left: 13px;
	top: 11px;
	font-size: 18px;
}
.modal-login .form-control {
	padding-left: 40px;
}
.modal-login .form-control:focus {
	border-color: #00ce81;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-login .hint-text {
	text-align: center;
	padding-top: 10px;
}
.modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}
.modal-login .btn, .modal-login .btn:active {	
	border: none;
	background:blue !important;
	line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #00bf78 !important;
}
.modal-login .modal-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
	justify-content: center;
}
.modal-login .modal-footer a {
	color: #999;
}
input.ng-invalid.ng-touched
  {
      border-color: red;
  }
  .required-field::after {
    content: "*";
    color: red;
    margin-left:2px
  }
  .card
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: .3s;
  width: 50%;
  border:5px solid rgb(204, 200, 200);
  height: 70%;
  margin-left: 400px;
  background-color: lightgrey;
}
#bg
{
    position: fixed; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
	background-size: cover;
}
#captcha
{
    background-image: url("https://www.codeproject.com/KB/scripting/CreateCaptcha/1.JPG");
    font-weight: 1200;
    font-style:bold;
    font-stretch: narrower;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black 
}
#cc
{
    box-sizing:inherit;
}
::placeholder
{
    font-size: large;
    font-style:bold;
}

